* {
  box-sizing: border-box;
}

body {
  background-image: url('images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.root {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 85vw;
  height: 80vh;
  margin: 20px auto;
  font-size: 20px;
}

.title {
  display: flex;
  text-orientation: upright;
  writing-mode: vertical-lr;
  justify-content: center;
  align-items: center;
  width: 5%;
  font-size: 40px;
  font-weight: 600;
	color: white;
	text-shadow: 3px 3px 3px #23430C;
}

.board {
  width: 45%;
  height: 100%;
  border-spacing: 5px;
}

.board td {
  width: 33%;
  height: 33%;
  background-color: rgba(245, 245, 245, 0.7);
  font-size: 48px;
  text-align: center;
  border-radius: 5px;
}

.stats {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.winners {
  width: 100%;
  padding: 10px;
  border-spacing: 5px;
}

.winners td {
  background-color: rgba(245, 245, 245);
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

#empty {
  background-color: rgba(0, 0, 0, 0);
}

button {
  padding: 10px;
  margin: 30px;
  width: 50%;
  font-size: 18px;
  border-radius: 25px;
  background-color: rgba(245, 245, 245, 0.7);
  border: 2px solid whitesmoke;
}

footer {
  text-align: center;
  margin-top: 50px;
}
